@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    line-height: 1.3;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLING */

* {
    color: #ffffff;
}

b {
    font-weight: bold;
    font-size: 1.2em;
}

i {
    font-style: italic;
}

ul {
    list-style-type: square;
    padding-left: 1em;
}

hr {
    color: #00ff00;
}

img {
    image-rendering: crisp-edges;
}

body {
    height: 100%;
    margin: 0;
    background-color: black;
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGt1enlscXd5a2JiNmVjcjd3bzdnNmM1cGZnbG9qNnNwejczeGVlcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9PIbzfaYc5wtGq5DPG/giphy.gif'); /* fallback for js background */
    font-size: 11px;
    word-wrap: break-word;
    font-size: 0.9rem;
    z-index: 0;
    text-align: center;
}

p, span, a, h1, h2, h3, h4, h5, h6, li, b, i {
    filter: drop-shadow(0 0 0.25em rgba(0,50,0,1));
    font-family: "Quantico", sans-serif;
    font-size: 1.05rem;
}

#starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: brightness(0.2);
}

#main-content {
    position: relative;
    width: 640px;
    margin: 8em auto;
    width: 66.66em;
    background: #000000;
    background-image: url("/img/bg_page.png");
    border: 2px solid #005500;
    zoom: 1;
    text-align: left;

    filter: drop-shadow(0 0 3em rgba(0, 255, 0, 0.4)) drop-shadow(0 0 0.3em rgba(0, 255, 0, 0.6));
}
.actual-main-content {
    width: 100%;
    zoom: 1;
    overflow: hidden;
}

.triangle {
    position: absolute;
    bottom: 100%;
    width: 20%;
    zoom: 1;
    /*filter: drop-shadow(0 0 20px #005500);*/
}
.triangle-left {
    left: -2px;
}
.triangle-right {
    right: -2px;
}
.snout {
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;            /* width of the snout */
    zoom: 1;                /* for IE6 hasLayout */
}

.topbar-img, .topbar-img-wap, .topbar-img-pda {
    position: relative;
    width: 100%;
    z-index: 2;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.4));
}
.topbar-img-wap, .topbar-img-pda {
    display: none;
}

.topbar-area {
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.leftbar-ext {
    display: block;
    position: absolute;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #101010;
    background-image: linear-gradient(90deg, #090909 0%, #101010 95%, #090909 100%);
    border-right: 0.3em #050505 solid;
    z-index: 1;
}

.leftbar {
    position: relative;
    z-index: 2;
    width: 20%;
    background-color: #101010;
    background-image: linear-gradient(90deg, #090909 0%, #101010 95%, #090909 100%);
    border-right: 0.3em #050505 solid;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 2em;
}

.page {
    position: relative;
    z-index: 99;
    width: 74%;
    float: right;
    zoom: 1;
    margin-top: -2em;

    padding: 2% 2%;
    margin-left: 0;
    margin-right: 0;
}

.top-cutout {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 100%;
    height: 2em;
    zoom: 1;
    text-align: right;
    z-index: 999;
}

.top-cutout img {
    display: inline;
    vertical-align: top;
    height: 1.4em;
    zoom: 1;
    margin-right: 2%;
}

.top-cutout h1 {
    display: inline;
    font-size: 2em;
    font-weight: bold;
    margin-right: 1em;
    vertical-align: top;
}


.contents-text {
    display: block;
    width: 60%;
    margin: 0 20%;
    padding: 1.5em 0;
    zoom: 1;
}

.category-img {
    width: 74%;
    margin: 0 auto;
    zoom: 1;

    margin-top: 0.3em;
    margin-top: min(0.4em, 6px);
}

.category-img:hover {
    filter: grayscale(1) brightness(5) drop-shadow(1px 1px 0.4em #005500);
}


.column1 {
    float: left;
    vertical-align: top;
    width: 56%;
    margin-right: 4%;
}
.column2 {
    float: left;
    vertical-align: top;
    width: 39%;
}

.column1e {
    float: left;
    vertical-align: top;
    width: 49%;
    margin-right: 2%;
}
.column2e {
    float: left;
    vertical-align: top;
    width: 49%;
}

.greenbar {
    margin-bottom: 0.3em;
    margin-bottom: min(0.4em, 6px);
    image-rendering: unset;
}

.box {
    position: relative;
    color: #0f0;
    padding: 2em 1em;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;
    margin-bottom: 2em;

    /* silly little fallback bg */
    background-image: url("/img/bg_block.png");
    background-size: cover;

    border: 4px solid #0000;
    background-image: repeating-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 25px, rgba(0,50,0,0.5) 30px, rgba(0,0,0,0) 40px), linear-gradient(0, #001500 0, #002200 1em, #000000 100%), repeating-linear-gradient(to bottom, #000000 0em, #000000 5em, #00ff00 10em, #000000 20em);
    box-shadow: 0 0 10px rgba(0, 100, 0, 0.5), inset 0 0 0 4px #000, 0 0 0 6px #000;
    background-clip: padding-box, padding-box, border-box;
    background-origin: padding-box, padding-box, border-box;
    background-size: 100% 40px, 100% 100%, 100% 20em;
    animation: scrollBg 8s linear infinite;

    filter: drop-shadow(0 0 5px rgba(0,50,0,0.5));
}

@keyframes scrollBg {
from { background-position: 0 0, 0 0, 0 0; }
to {background-position: 0 80px, 0 0, 0 20em; }
}


.box span {
    zoom: 1;
}

.box-title-small, .project-header {
    font-family: sans-serif;
    color: #000;
    padding: 0 2em;
    background-color: #070707;
    font-size: larger;
    font-weight: bold;
    border-top: 1px solid #050;
    background-image: linear-gradient(90deg, #00ff00, #00aa00);
    box-shadow: 4px 4px 0 #004400;
}

.box-title-small {
    position: absolute;
    top: -0.9em;
    left: 0.5em;
}

.project-header {
    margin: 1em 0;
    padding: 0.25em 2em;
    border-bottom: 1px solid #050;
    border-top: none;
    display: inline-block;
}

.project-working {
    width: 48%;
    display: inline-block;
}

.box img, .icon {
    height: 2em;
    zoom: 1;
    vertical-align: middle;
}

.project-container {
    width: 95%;
    position: relative;

    /*background-color: #0F0F0F;
    border: 2px solid #002200;*/
    zoom: 1;
    display: block;
    clear: both;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    margin-right: 1em;

    /*border-bottom: 1px solid #002200;
    zoom: 1;*/

    overflow: hidden;
    text-decoration: none;
    color: inherit;
    /*cursor: default;*/
}

.background-box {
    background-color: #001100;
    background-image: linear-gradient(0deg, #000900, #001100);

    box-shadow: 
        -2px -2px 5px rgba(0,255,0,0.2),
        2px 2px 5px rgba(0,0,0,0.5); 
}

.project-container:hover {
    text-decoration: underline;
    /*cursor: pointer;*/
}


.project-container-n div img {
    height: 5em;
    zoom: 1;
    margin-right: 1em;
}
.project-container-u div img {
    height: 5em;
    zoom: 1;
    margin-left: 1em;
}
.project-container span h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.project-container-n div {
    float: left;
}
.project-container-u div {
    float: right;
    text-align: right;
}

.progress-label {
    position: absolute;
    top: 0.5em;
    left: 0;
    border-radius: 0.5em;
    background-color: #005500;
    font-size: 0.7em;
}

.project-container-u .progress-label {
    left: auto;
    right: 0;
}

.mobile-warning {
    display: none;
}

.page-markdown h1, .page-markdown h2, .page-markdown h3 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #005500;
    width: fit-content;
    margin-bottom: 1em;
}

.project-screenshots {
    height: 10em;
    margin: 1em 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.project-screenshots img {
    height: 100%;
    zoom: 1;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}

.ice-breaker img, b img {
    height: 1em;
}

.markdown-h1 {
    margin-top: 2em;
}

.ice-breaker .fursona {
    width: 8em; height: 8em;
    position: absolute;
    top: 2em; right: 1em;
    box-shadow: 2px 2px 0 #000000;
    background: #000000;
    border: 5px solid #005500;
    border-style: ridge;
}

.nohighlight:hover {
    text-decoration: none;
}

.multi-image-grid img {
    display: inline-block;
    height: 10em;
    margin-bottom: 1em;
    zoom: 1;
}

/* funny mobile menu switch */
.menu-checkbox, .menu-label {
    display: none;
}

.menu-content {
    display: block;
    perspective: 1000px;
}

.hardware-entry {
    font-size: 1.1em;
    padding: 6%;
    margin-bottom: 2em;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.hardware-entry p {
    font-weight: bold;
    font-size: 1.2em;
}

.hardware-img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.phone-entry {
    width: 20%; font-size: 1em; padding: 2%;
}


@media (max-width: 768px) {
    .menu-checkbox:checked + .menu-content {
        display: block;
    }

    .menu-content {
        display: none;
    }

    .menu-label {
        display: block;
        cursor: pointer;
        font-weight: bold;
        color: #0f0;
        text-decoration: underline;
        font-size: larger;
    }


    .topbar-img {
        display: none;
    }
    .topbar-img-pda {
        display: block;
    }
    body {
        background-image: none;
    }
    .box {
        font-size: calc(min(1vh, 0.8vw) * 5);
    }
    #main-content {
        width: 100%;
        width: calc(100% - 4px);
        margin: 0;
        padding: 0;
    }
    #starCanvas, .top-cutout, .leftbar-ext, .contents-text, .triangle, .snout {
        display: none;
    }
    .fursona {
        float: none;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }
    .menu-content {
        transform: none;
    }
    .leftbar {
        margin: 0;
        padding: 0;
        margin-top: 1.2em;
        width: 100vw;
        float: none;
    }
    .page {
        float: none;
        width: 90vw;
        padding-top: 2em;
        margin-top: 0;

    }
    .category-img {
        width: 60vw;
        height: auto;
        padding: 0 10vw;
        margin: 0;
        border-right: 2px solid #005500;
    }
    /*.mobile-warning {
        display: block;
        width: 100%;
        background-color: #005500;
        font-size: 1em;
    }*/
    .project-working {
        width: 100%;
        display: block;
    }

    .greenbar {
        display: none;
    }
    .project-container {
        font-size: 1em;
    }
    .box-title-small {
        padding: 0 1em;
    }
    .column1, .column2 {
        float: none;
        width: 100%;
    }
    .multi-image-grid img {
        display: inline-block;
        width: 45%;
        height: auto;
        vertical-align: top;
    }
    .multi-image-grid {
        text-align: center;
    }
    .hardware-entry p {
        font-size: 1.5em;
    }
    .hardware-entry {
        padding: 8%;
    }
    .column1e {
        width: 96%;
    }
    .column2e {
        width: 96%;
    }
    .phone-entry {
        width: 40%; font-size: 1.2em; padding: 4%;
    }
    .column1 {
        margin-right: 0;
    }

}

@media (min-width: 1024px) {
  #main-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10em;
    right: -10em;
  height: 100%;
    background: 
      url('https://i.postimg.cc/5t923VRc/floppiesflip.gif') repeat-y left,
      url('https://i.postimg.cc/Pf7TwZjR/floppies3.gif') repeat-y right;
    background-size: 10em auto;
    z-index: 20;
    opacity: 0.1;
    pointer-events: none;
  }
}
