* {
    box-sizing: border-box;
    color: #ffffff;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
    background-color: black;
    background-image: url('img/stars.jpg');
    /* fallback */
    background-size: cover;
}

#starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    pointer-events: none;
}

#main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: calc(100% - 40px);
    background: #000000;
    box-shadow: 0 0 20px #005500;
    
    overflow: hidden;
}

.topbar-img {
    width: 100%;
    height: auto;
}

.topbar {
    position: relative;
    width: 100%;
    margin-bottom: 6px;
}

.leftbar {
    float: left;
    width: 20%;
    padding: min(1vh, 5px) min(2vw, 15px);
    
    height: auto;
}

.page {
    position: relative;
    margin-left: 20%;
    padding: 2% 5%;
    
    height: auto;
}

.top-cutout {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 90%;
    height: auto;
}

.page-tab-illustration {
    width: 100%;
    height: auto;
}

.contents-text {
    display: block;
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.contents-text {margin-bottom: 3%;}

.category-img {
    margin-top: min(3%, 3px);
    width: 110%;
    height: auto;
    image-rendering: pixelated;
}